*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 96.9%;
    height: 100vh;
}

/* Center container */

.center-container {
    max-width: 80%;
    margin: 0 auto;
    padding: 0 15px;
}

/* Wrapper */

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Header */ 

/* First Part Of Header */

.header {
    background-color: #F1FDFF;
    background-image: url("./assets/images/medium-shot-woman-holding-ukranian-flag\ 1.png");
    background-repeat: no-repeat;
    background-position: right;
    padding-bottom: 11%;
}

.container-with-first-part-of-header {
    display: flex;
    margin-top: 3%;
    justify-content: space-between;
    align-items: center;
}

/* .nav-in-header {} */

.list {
    display: flex;
}

.list-element {
    margin-left: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.url-nav-in-header {
    text-decoration: none;
    color: black;
    transition: all .3s ease-in-out;
}

.url-nav-in-header:hover {
    color: #69c1d5;
}

.nav-button-in-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #7AE5FD;
    border: 1px solid #7AE5FD;
    border-radius: 87px;
    cursor: pointer;
    width: 208px;
    height: 59px;
    transition: all .1s ease-in-out;
}

.nav-button-in-header:hover {
    background-color: #69c1d5;
    border: 1px solid #69c1d5;
}

.nav-button-in-header:active {
    transform: translateY(3px);
}

/* Second Part Of Header */

.container-with-content-in-second-part-of-header {
    float: left;
    margin-top: 3%;
}

.content-festival {
    width: 698px;
    height: 264px;
    font-family: 'Montserrat';
    font-weight: bolder;
    font-size: 93px;
    line-height: 94.9%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #9AD2DE;
}

.content-holiday {
    margin-top: 3%;
    font-size: 20px;
    line-height: 120%;
}

/* Main */

.main {
    flex-grow: 1;
    padding-top: 5%;
    padding-bottom: 5%;
}

/* Program Festival */

.headers-in-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 60px;
    line-height: 120%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
}

h2 {
    font-size: 27px;
    line-height: 120%; 
    text-align: center;
    color: #000000;
}

h3 {
    font-size: 20px;
    line-height: 120%;
    text-align: center;
    color: #73A6B1;
    padding-top: 0.5%;
}

.red-line {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section */

.container-with-section {
    padding: 40px 40px 40px 40px;
}

.paragraph-in-section {
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.nav-in-main {
    margin-top: 3%;
}

.list-in-main-element {
    font-size: 16px;
    line-height: 120%;
    color: #000000;
    margin-top: 2%;
}

.time-in-section {
    margin-top: 0.5%;
    font-size: 16px;
    line-height: 120%;
    color: #3D8C9D;
}

/* Section1 Image */

.section1 {
    background-image: url("./assets/images/Сцена\ 1.png");
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: #F1FDFF;
}

/* Section2 Image */

.section2 {
    background-image: url("./assets/images/musicBand.png");
    background-size: 39%;
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: #F1FDFF;
}

/* Section3 Image */

.section3 {
    background-image: url("./assets/images/childrenCooking.png");
    background-repeat: no-repeat;
    background-position: 95%;
    margin-top: 7%;
    margin-bottom: 7%;
    background-color: #F1FDFF;
}


/* Button in main learn more */

.container-with-main-button-learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-button-learn-more {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #7AE5FD;
    border: 1px solid #7AE5FD;
    border-radius: 87px;
    cursor: pointer;
    width: 225px;
    height: 59px;
    transition: all .1s ease-in-out;
}

.main-button-learn-more:hover {
    background-color: #69c1d5;
    border: 1px solid #69c1d5;
}

.main-button-learn-more:active {
    transform: translateY(3px);
}

/* Section 4 */

.img-bg-in-section4 {
    position: relative;
    margin-left: 7%;
    margin-top: 5%;
    z-index: 0;
}

.paragraph-in-section4 {
    position: relative;
    background-color: #F2FEFF;
    margin-top: -32%;
    width: 100%;
    font-size: 27.271px;
    line-height: 120%;
    color: #000000;
    padding: 80px 80px 80px 80px;
    z-index: 1;
}

.img-gift-in-section4 {
    position: relative;
    margin-left: 60%;
    margin-top: -22%;
    z-index: 2;
}

/* How to entry */

.headers-in-main2 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12%;
}

/* Money */

.container-with-money {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 6%;
}

.paragraph-with-money {
    font-size: 27px;
    line-height: 120%;
    color: #000000;
}

.list-with-numbers {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1.5%;
}

.list-with-numbers-element {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
    font-size: 60px;
    line-height: 120%;
    text-align: center;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #000000;
}

.list-with-numbers-element:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 54%;
    right: -15%;
    transform: translateY(-50%);
    width: 2px;
    height: 80%;
    background-color: #9AD2DE;
}

/* Button donation */

.container-with-button-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}

.button-donation {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #7AE5FD;
    border: 1px solid #7AE5FD;
    border-radius: 87px;
    cursor: pointer;
    width: 225px;
    height: 59px;
    transition: all .1s ease-in-out;
}

.button-donation:hover {
    background-color: #69c1d5;
    border: 1px solid #69c1d5;
}

.button-donation:active {
    transform: translateY(3px);
} 

/* Footer */

.footer {
    width: 100%;
    background-color: #F9FADF;
}

/* First content in footer */

.container-with-first-content-in-footer {
    display: flex;
    justify-content: space-between;
}

.contacts-header {
    margin-top: 6%;
}

.container-with-contacts {
    margin-right: 20%;
    margin-top: 5%;
}

.img-phone {
    margin-bottom: 4%;
}

.container-with-phone-nummber {
    margin-bottom: 20%;
}

.paragraph-with-phone-number {
    font-size: 20px;
    line-height: 120%;
    color: #000000;
}

.phone-number {
    font-size: 20px;
    line-height: 120%;
    color: #000000;
    font-weight: 600;
}

/* Second content in footer */

.container-with-second-content-in-footer {
    background-color: white;
    margin-top: 9%;
    margin-bottom: 5%;
    padding: 65px 35px 65px 35px;
    border: 1px solid white;
    border-radius: 15px;
}

.container-with-subscribe {
    display: flex;
}

.container-with-last-elements-in-footer {
    display: flex;
    flex-direction: column;
    margin-left: 10%;
}

.subscribe {
    padding-left: 16%;
    font-size: 27px;
    line-height: 120%;
    color: #000000;
}

.container-with-inputs {
    margin-top: 15%;
    margin-left: 16%;
    display: flex;
    flex-direction: column;
}

.input-username {
    margin-bottom: 5%;
    padding-left: 5%;
    background-color: #F9FADF;
    border-color: #F9FADF;
    width: 506px;
    height: 66px;
    border: 1px solid #F9FADF;
    border-radius: 50px;
    font-size: 16px;
}

.input-email {
    margin-bottom: 5%;
    padding-left: 5%;
    background-color: #F9FADF;
    border-color: #F9FADF;
    width: 506px;
    height: 66px;
    border: 1px solid #F9FADF;
    border-radius: 50px;
    font-size: 16px;
}

.container-with-button-subscribe {
    margin-left: 16%;
}

.button-subscribe {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Montserrat';
    font-size: 18px;
    background-color: #7AE5FD;
    border: 1px solid #7AE5FD;
    border-radius: 87px;
    cursor: pointer;
    width: 506px;
    height: 59px;
    transition: all .1s ease-in-out;
}

.button-subscribe:hover {
    background-color: #69c1d5;
    border: 1px solid #69c1d5;
}

.button-subscribe:active {
    transform: translateY(3px);
}